doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Oliver Jiszda Photography
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/main.css')

    meta(property='og:title' content='Oliver Jiszda Photography')
    meta(name='description' property='og:description' content='Oliver Jiszda Photography')

  block body
    body.nojs
      #content
        block content
          div empty body content

      block scripts
        script(src='/js/main.js')
