body_font_color = #555
body_bg_color = #fefefe
a_color = #7c7c7c
a_color_hover = #555

html, body
  height 100%
  display block

body
  background-color body_bg_color
  color body_font_color
  margin 0 auto
  overflow hidden
  text-align center
  width 100%
  position absolute
  transition(background-color 0.5s)
  font-size 12px
  user-select none

#content
  height 100%

.preview
  height 100%
  font-size 25px
  height 25px
  padding 0
  line-height 25px
  top 50%
  margin -52.5px 0 0
  position relative
