bg-image(image)
  background: url('/img/' + image)

transition()
  -webkit-transition arguments
  -moz-transition arguments
  transition arguments

user-select(mode)
    -webkit-touch-callout mode
    -webkit-user-select mode
    -khtml-user-select mode
    -moz-user-select mode
    -ms-user-select mode
    user-select mode
